{% if artifactory_license1 |length %}
{{ artifactory_license1 }}
{% end if %}


{% if artifactory_license2 |length %}
{{ artifactory_license2 }}
{% end if %}


{% if artifactory_license3 |length %}
{{ artifactory_license3 }}
{% end if %}


{% if artifactory_license4 |length %}
{{ artifactory_license4 }}
{% end if %}