-----BEGIN PRIVATE KEY-----
{% for cert_line in certificate_key.split(' ') %}
{% if '-----' not in cert_line and 'PRIVATE' not in cert_line %}
{{ cert_line }}
{% endif %}
{% endfor %}
-----END PRIVATE KEY-----
