{{ certificate_key | regex_replace('-----BEGIN PRIVATE KEY-----', '-----BEGIN_PRIVATE_KEY-----') | regex_replace('-----END PRIVATE KEY-----', '-----END_PRIVATE_KEY-----') | regex_replace('\s+', '\n') | regex_replace('-----BEGIN_PRIVATE_KEY-----', '-----BEGIN PRIVATE KEY-----') | regex_replace('-----END_PRIVATE_KEY-----', '-----END PRIVATE KEY-----') }}