{{ certificate | regex_replace('-----BEGIN CERTIFICATE-----', '-----BEGIN_CERTIFICATE-----') | regex_replace('-----END CERTIFICATE-----', '-----END_CERTIFICATE-----') | regex_replace('\s+', '\n') | regex_replace('-----BEGIN_CERTIFICATE-----', '-----BEGIN CERTIFICATE-----') | regex_replace('-----END_CERTIFICATE-----', '-----END CERTIFICATE-----') }}